.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: purple;
    color: #ffffff;
    height: 3rem;
}

.Footer a {
    color: #FFFFFF;
    text-decoration: none;
}